<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TeamBrewer</title>

    <!-- Bootstrap Core CSS -->
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="js/jquery.js"></script>

    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>   
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>-->
    <link href="css/examples.css" rel="stylesheet" type="text/css">
    
    <script type="text/javascript">

    function convertToTimestamp(date){

        myDate=date.split("-");
        var newDate=myDate[1]+"/"+myDate[2]+"/"+myDate[0];
        return(new Date(newDate).getTime());        
    }

    function getUrlVars(){

        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }

        
        return vars;
    }

    function plotChart($numdays, chartDate){

        if($numdays <= 7){



            $.plot("#placeholder", chartDate, {
                xaxis: {
                    mode: "time",
                    minTickSize: [1, "day"],
                    min: (new Date(1999, 11, 25)).getTime(),
                    max: (new Date(2000, 0, 1)).getTime(),
                    timeformat: "%a"
                },
                series: {
                    lines: { show: true },
                    points: { show: true }
                }
            });
        } 

        else if ($numdays > 7 && $numdays <= 31){

        
                $.plot("#placeholder", chartDate, {
                xaxis: {
                    mode: "time",
                    minTickSize: [1, "month"],
                    min: (new Date(2015, 6, 1)).getTime(),
                    max: (new Date(2015, 8, 29)).getTime()
                },
                series: {
                    lines: { show: true },
                    points: { show: true }
                }
            });
        }

        else if ($numdays > 31 && $numdays <= 124){

            $.plot("#placeholder", chartDate, {
                xaxis: {
                    mode: "time",
                    minTickSize: [1, "quarter"],
                    min: (new Date(1999, 0, 1)).getTime(),
                    max: (new Date(2000, 0, 1)).getTime()
                },
                series: {
                    lines: { show: true },
                    points: { show: true }
                }
            });
        }
    }    



    $(document).ready(function(){

        var filters = getUrlVars();

        var chartDate = [];

        $.ajax({
          type: "POST",
          url: "API/charts.php",
          data: { 
            from_date: filters.from_date,
            to_date: filters.to_date,
            project_id: filters.project_id,
            team_id: filters.team_id,
            user_id: filters.user_id
          },
          dataType: 'json',
          async: false,
          success: function(data) {
              
              for(var i in data){
                console.log("USER: " + i);
                console.log(data[i]);


                var userData = [];
                
                for(var e in data[i]){
                  var allocation_total = data[i][e]['allocation_total'];

                  if(allocation_total == undefined)
                    allocation_total = 0;

                  console.log("DATE: " + e + " ALLOC:" + allocation_total);

                  userData.push([convertToTimestamp(e), allocation_total]);
                  //console.log(data[i][e]);
                }

                chartDate.push({ data: userData, label: i });   
              }
          }
        });        

        plotChart(20, chartDate);
    });

        
</script>
    </head> 
    <body ng-app="myApp" ng-controller="userCtrl">

   <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
            
            <div class="navbar-header">
                <a class="navbar-brand" href="charts.html">teambrewer</a>
            </div>
            
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div ng-include="'navbar.html'"></div>
            </div>     
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Charts
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Flot Charts -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header"><center>Resource Allocation</center></h2>
                        <form action="charts.html" method="get">
                            <div class="row">
                                <div class="chart-filter-container" class="class_filter" style="text-align:center">
                                    <div class="chart_filter">
                                        <label>Project</label><br>
                                            <select  name="project_id" ng-model="project_name" class="col-lg">
                                                <option ng-repeat="(key,project) in projects">{{ project.name }}</option>
                                            </select>
                                    </div>
                                    <div class="chart_filter">
                                        <label for='exe3'>Team</label><br>
                                        <select name="team_id" ng-model="eteam" class="col-lg">
                                            <option ng-repeat="(key,team) in teams" value="{{ key }}">{{ team.name}}</option>
                                        </select>
                                    </div>

                                    <div class="chart_filter">

                                        <label for='datetimepicker1'>From:</label><br>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input name="from_date" type='text' class="form-control" ng-model="efromdate" 
                                            placeholder="YYYY-MM-DD" id="datetimepicker1" value="">
                                             <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="chart_filter">
                                        <label for='datetimepicker2'>To:</label><br>
                                       <div class='input-group date' id='datetimepicker2'>
                                            <input  name="to_date" type='text' class="form-control" ng-model="etodate" 
                                            placeholder="YYYY-MM-DD" id="datetimepicker2" value="">
                                             <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="chart_filter">
                                        <label for='exe3'>People</label><br>
                                           <select  name="user_id" ng-model="ename" id="ename" class="col-lg">
                                        <option  id="ename" ng-repeat="(key,user) in users " value="{{ key }}">{{user.first_name + " " + user.last_name}}</option>
                                        </select>
                                    </div>


                                    <div class="chart_filter">
                                        <label for='exe3'></label><br>
                                           <input type="submit" value="Generate Chart"/>
                                        </select>
                                    </div>



                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div><br>

            <a class="btn btn-info btn-lg btn-block" role="button" data-toggle="collapse" data-target="#colps" aria-expanded="false" aria-controls="colps">
              Show List
            </a>
            </button>
            <div class="collapse" id="colps">
              <div class="well">
                   <div class="row">
                        <div class="col-lg-12">
                           
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                        <thead><tr>
                                        <th>Name</th>  
                                        <th>From</th>
                                        <th>To</th>
                        
                                  </tr></thead>
                                  <tbody><tr class="active" ng-repeat="(key,shed) in sched">                               
                                    <td>{{ shed.name }}</td>
                                    <td>{{ shed.fromdate }}</td>
                                    <td>{{ shed.todate }}</td> 
                                </table>  
                        </div>
                    </div>
                </div>

              </div>
            </div>

                <div id="content">
                    <div class="demo-container">
                        <div id="placeholder" class="demo-placeholder"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Flot Charts JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://raw.githubusercontent.com/moment/moment/develop/moment.js"></script>
    <script src="https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>
    <script>

$(document).ready(function () {

   $('#datetimepicker1').datetimepicker({
      
      format: 'YYYY-MM-DD'
    });

    // $("#datetimepicker1").on("dp.change", function (date) {
    //   $scope.efromdate = $('#efromdate').val();
    // });

    $('#datetimepicker2').datetimepicker({
      format: 'YYYY-MM-DD'
    });

    // $("#datetimepicker2").on("dp.change", function (date) {
    //   $scope.etodate = $('#etodate').val();
    // });

});
    </script>
    
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.time.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="js/plugins/flot/flot-data.js"></script>

    <script src = "charts.js"></script>
 
</body>
</html>