<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TeamBrewer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" type="text/css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>
        <style type="text/css">
    html, body {
        width: 100%;
        height: 100%;
    }
   
    </style>
    <body ng-app="myApp" ng-controller="userCtrl">
</head>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div ng-include="'nav.html'"></div>
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Project</h1>
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#mydModal" ng-click="addProject()">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Project
                            </button> 
                        </div>
                        <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                         
                            <div class="modal fade" id="mydModal" role="dialog">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header modal-header-success">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add Project</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form role="form">
                                                        <div class="form-group"></div>
                                                        <div class="form-group">
                                                            <label>Project Name</label>
                                                            <input id="eproject_name" class="form-control" ng-model="eproject_name" placeholder="Project Name" value="pol">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="saveData()" class="btn btn-primary" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Save
                                            </button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                  </div>  
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <ul class="pagination no-margin pull-right">
                                    <li><a ng-click="getData(pagination.getFirst())" href="#/?p={{pagination.getFirst()}}">First</a></li>
                                    <li><a ng-click="getData(pagination.getPrevious())" href="#/?p={{pagination.getPrevious()}}">Previous</a></li>
                                    <li ng-repeat="i in pageArray"><a ng-click="getData(i)" href="#/?p={{i}}">{{i}}</a></li>
                                    <li><a ng-click="getData(pagination.getNext())" href="#/?p={{pagination.getNext()}}">Next</a></li>
                                    <li><a ng-click="getData(pagination.getLast())" href="#/?p={{pagination.getLast()}}">Last</a></li>
                                </ul>

                                <div class="input-group pull-left marg-right-5 width-250">
                                  <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-search"></i>
                                  </span>
                                  <input type="text" class="form-control" placeholder="Search for..." ng-keydown = "search($event)" ng-model="searchString">
                                </div><!-- /input-group -->

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Project Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active" ng-repeat="(key, user) in projects">
                                            <td>{{ user.name }}</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#mydModal" ng-click="editProject(key)">
                                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                                                </button>
                                                <button type="button" class="btn btn-danger btn-md" ng-click="deleteData(key)">
                                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                                                </button>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination no-margin pull-right">
                                    <li><a ng-click="getData(pagination.getFirst())" href="#/?p={{pagination.getFirst()}}">First</a></li>
                                    <li><a ng-click="getData(pagination.getPrevious())" href="#/?p={{pagination.getPrevious()}}">Previous</a></li>
                                    <li ng-repeat="i in pageArray"><a ng-click="getData(i)" href="#/?p={{i}}">{{i}}</a></li>
                                    <li><a ng-click="getData(pagination.getNext())" href="#/?p={{pagination.getNext()}}">Next</a></li>
                                    <li><a ng-click="getData(pagination.getLast())" href="#/?p={{pagination.getLast()}}">Last</a></li>
                                </ul>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://raw.githubusercontent.com/moment/moment/develop/moment.js"></script>
<script src="https://raw.githubusercontent.com/Eonasdan/bootstrap-datetimepicker/master/build/js/bootstrap-datetimepicker.min.js"></script>
            <script src="js/commons.js"></script>    
            <script src="project.js"></script>
            <script src="js/factories/pagination.js"></script>            
            <script src="js/factories/auth.js"></script>    
            <script src="js/factories/session.js"></script>
            </body>

</html>