<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>TeamBrewer</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/sb-admin.css" rel="stylesheet">
<link href="css/header.css" rel="stylesheet">
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script src="js/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="js/angular-cookies.js"></script>
<script src="js/angular-route.js"></script>
<body ng-app="myApp" ng-controller="userCtrl">
</head>
<div id="wrapper">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="navbar-header">
    <a class="navbar-brand" href="charts.html">teambrewer</a>
</div>

<div ng-include="'logout.html'"></div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <div ng-include="'navbar.html'"></div>
</div>
</nav>
<div id="page-wrapper">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Schedules</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#mydModal" ng-click="addUser()">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Schedule

                    </button>
                    <div class="modal fade" id="mydModal" role="dialog">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header modal-header-success" >
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{form_title}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <form role="form">
                                                <div class="form-group"></div>
                                                <div class="form-group">
                                                    <label>Person</label>
                                                    <select ng-model="ename" id="ename">
                                                        <option value="">Choose Person</option>
                                                        <option  id="ename" ng-repeat="(key,user) in users " value="{{ key }}">{{user.first_name + " " +user.last_name}}</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>From </label>
                                                    <div class='input-group date' id='datetimepicker2'>
                                                        <input type='text' id="efromdate" class="form-control" ng-model="efromdate" placeholder="YYYY-MM-DD"  value="">
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default" ng-click="open">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>To </label>
                                                        <div class='input-group date' id='datetimepicker3'>
                                                            <input type='text' id="etodate" class="form-control" ng-model="etodate" placeholder="YYYY-MM-DD"  value="">
                                                                <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default" ng-click="open">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Allocation</label>
                                                            <select ng-model="ealloc" id="ealloc">
                                                                <option value="">Choose Allocation</option>
                                                                <option  id="ealloc" ng-repeat="(key,alloc) in allocation" value="{{ alloc.allocation }}">{{ alloc.allocation }}%</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="savedata()" class="btn btn-primary" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Save
                                            </button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2>List of Schedules</h2>
                                    <div class="table-responsive">
                                              <ul class="pagination no-margin pull-right">
                                          <li ng-repeat="i in pageArray"><a ng-click="getSched(i)" href="#/?p={{i}}">{{i}}</a></li>
                                        </ul>
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Allocation</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="active" ng-repeat="(key,shed) in sched">
                                                    <td>{{ shed.name }}</td>
                                                    <td>{{ shed.fromdate }}</td>
                                                    <td>{{ shed.todate }}</td>
                                                    <td>{{ shed.allocation }}%</td>
                                                    <td>
                                                        <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#mydModal" ng-click="editUser(key)">
                                                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-md" ng-click="deleteData(key)">
                                                            <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                            <ul class="pagination no-margin pull-right">
                                          <li ng-repeat="i in pageArray"><a ng-click="getSched(i)" href="#/?p={{i}}">{{i}}</a></li>
                                        </ul>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="css/bootstrap.css"></script>
    <script type="text/javascript" src="css/bootstrap-datetimepicker.min.css"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src = "sched.js"></script>
</body>
</html>         