<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TeamBrewer</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" type="text/css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="css/sb-admin.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    
    <script src="js/angular-cookies.js"></script>
    <script src="js/angular-route.js"></script>

    <body ng-app="myApp" ng-controller="userCtrl">
</head>
<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="charts.html">teambrewer</a>
        </div>
        <div ng-include="'logout.html'"></div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div ng-include="'navbar.html'"></div>
        </div>
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <div class="dropdown">
                            Team
                            <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#ModalImport">
                            <span class="glyphicon glyphicon-upload"></span>
                            </button>
                        </div>
                    </h1>
                    <div class="import">
                        <div class="modal fade" id="ModalImport" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header modal-header-success">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Import Data</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <form role="form">
                                                    <div class="form-group">
                                                       Choose file: 
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                         <form name="import" method="post" enctype="multipart/form-data" action="API/import-team.php" target="_blank">
                                            <input type="file" name="file" /><br/>
                                            <button ng-click="submit" class="btn btn-primary btn-md" name="submit">
                                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Submit
                                            </button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#mydModal" ng-click="addTeam()">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Team
                            </button>
                            </button>
                            <div class="modal fade" id="mydModal" role="dialog">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header modal-header-success">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{form_title}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form role="form">
                                                        <div class="form-group">
                                                            <label>Team Name</label>
                                                            <input id="name" class="form-control" ng-model="name" placeholder="Team Name">
                                                        </div>
                                                        <div class="spicker">
                                                            <label>Team Members</label>
                                                            <select id="members" class="selectpicker" data-live-search="true" data-live-search-placeholder="Select Members" multiple="" data-width="100%">
                                                                <option ng-repeat="(key,user) in users" value="{{ key }}"
                                                                ng-model="members" ng-selected="selectedMembers.indexOf(key) > -1">{{user.fullname}}</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" ng-click="saveData()" class="btn btn-primary" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Save
                                            </button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                <span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- end modal -->

                    <div class="row">
                        <div class="col-lg-12">
                            <br>
                            <div class="table-responsive">

                               <ul class="pagination no-margin pull-right">
                                    <li><a ng-click="getData(pagination.getFirst())" href="#/?p={{pagination.getFirst()}}">First</a></li>
                                    <li><a ng-click="getData(pagination.getPrevious())" href="#/?p={{pagination.getPrevious()}}">Previous</a></li>
                                    <li ng-repeat="i in pageArray"><a ng-click="getData(i)" href="#/?p={{i}}">{{i}}</a></li>
                                    <li><a ng-click="getData(pagination.getNext())" href="#/?p={{pagination.getNext()}}">Next</a></li>
                                    <li><a ng-click="getData(pagination.getLast())" href="#/?p={{pagination.getLast()}}">Last</a></li>
                                </ul>

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Team</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="active" ng-repeat="(key, user) in teams">
                                            <td>{{ user.name }}</td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#mydModal" ng-click="editTeam(key)">
                                                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                                                </button>
                                                <button type="button" class="btn btn-danger btn-md" ng-click="deleteData(key)">
                                                    <span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <ul class="pagination no-margin pull-right">
                                    <li><a ng-click="getData(pagination.getFirst())" href="#/?p={{pagination.getFirst()}}">First</a></li>
                                    <li><a ng-click="getData(pagination.getPrevious())" href="#/?p={{pagination.getPrevious()}}">Previous</a></li>
                                    <li ng-repeat="i in pageArray"><a ng-click="getData(i)" href="#/?p={{i}}">{{i}}</a></li>
                                    <li><a ng-click="getData(pagination.getNext())" href="#/?p={{pagination.getNext()}}">Next</a></li>
                                    <li><a ng-click="getData(pagination.getLast())" href="#/?p={{pagination.getLast()}}">Last</a></li>
                                </ul>

                                </table>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="team.js"></script>
  <script src="js/moment.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="js/factories/pagination.js"></script>   
    <script src="js/factories/auth.js"></script> 

    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js"></script>

</body>

</html>